<a href="https://colab.research.google.com/github/swetha2810/ai-data_analytics-nlp_operations/blob/master/day2ai.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from bs4 import BeautifulSoup
import requests 
import time

In [0]:
url="https://www.worldometers.info/coronavirus/"
htmlpage=requests.get(url)

In [0]:
#print(htmlpage.text)
purehtmlpage=htmlpage.content
tb=soup=BeautifulSoup(purehtmlpage,'html5lib')

In [0]:
tb=soup.find_all('table',class_="table table-bordered table-hover main_table_countries")

In [20]:
for trr in tb[0].find_all('tr'):
 for rows in trr.find_all('th'):
   print(rows.text)

Country,Other
TotalCases
NewCases
TotalDeaths
NewDeaths
TotalRecovered
ActiveCases
Serious,Critical
Tot Cases/1M pop
Tot Deaths/1M pop

In [28]:
for trr1 in tb[0].find_all('tr'):
  for rows in trr1.find_all('td'):
    print(rows.text)
    time.sleep(1)

China
81,340
+55
3,292
+5
74,588
3,460
1,034
57
2
USA
85,625
+190
1,302
+7
1,868
82,455
2,122
259
4
Italy
80,589

8,215

10,361
62,013
3,612
1,333
136
Spain
57,786

4,365

7,015
46,406
3,166
1,236
93
Germany
47,278
+3,340
281
+14
5,673
41,324
23
564
3
Iran
32,332
+2,926
2,378
+144
11,133
18,821
2,893
385
28
France
29,155

1,696

4,948
22,511
3,375
447
26
Switzerland
11,811

194
+2
131
11,486
203
1,365
22
UK
11,658

578

135
10,945
163
172
9
S. Korea
9,332
+91
139
+8
4,528
4,665
59
182
3
Netherlands
7,431

434

3

KeyboardInterrupt: ignored